<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>buscar auto por marca</h1>
    
      <form action="/mis-autos/buscar-auto" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>

      {% for auto in lista_autos %}
      <ul>
          <li> Marca: {{auto.marca}}, Modelo: {{auto.modelo}}, Año: {{auto.ano}}, Kilometros: {{auto.kilometros}}</li>
      </ul>
      <a href="/mis-autos">Volver a la lista de autos</a>
      {% endfor %}

  </body>
  </html>