<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis mascotas</h1>
    <a href="/mis-mascotas/alta">Nueva Mascota</a>
    <ul>
    {% for mascota in lista_mascotas %}
        
            <li> id: {{mascota.id}}, Nombre: {{mascota.nombre}}, Tipo: {{mascota.tipo}}, Raza: {{mascota.raza}}, Edad: {{mascota.edad}} </li>
                <a href='actualizar/{{ mascota.id }}'>Actualizar</a>
                <a href ="/mis-mascotas/borrar/{{ mascota.id }}">Borrar</a>
        
    {% endfor %}
    </ul>
</body>
</html>